<div class="container emp-profile row">
    <div class="col-3">
        <div class="row">
            <div class="">
                <div class="profile-img row">
                    <img src="http://chempa.xyz/chempa/getimage.php?per_ID={{person.per_ID}}" alt=""/>
                </div>
                <div class="profile-img row">
                    <app-qrcode-card></app-qrcode-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row bg-light" style="height: 90Vh; border-left: 10px solid white;">
            <pre>

    <b>Person Details</b>
    <i class="text-secondary">Title:</i>            {{person.per_Title}}
    <i class="text-secondary">First name:</i>       {{person.per_FirstName}}
    <i class="text-secondary">Middle name:</i>      {{person.per_MiddleName}}
    <i class="text-secondary">Last name:</i>        {{person.per_LastName}}
    <i class="text-secondary">Gender:</i>           {{person.per_ID != null? person.per_Gender=='1'?'Male':'Female': ""}}
    <i class="text-secondary">Birth Date:</i>       {{person.per_ID != null? (person.per_BirthDay+ "-" + person.per_BirthMonth + "-" + person.per_BirthYear) : ""}}<i class="text-secondary">(d-m-yyyy)</i>
    <i class="text-secondary">Phone:</i>            {{person.per_CellPhone}}
    <i class="text-secondary">Email:</i>            {{person.per_Email}}
    <i class="text-secondary">Country:</i>          {{person.per_Country}}
    <i class="text-secondary">Membership Date:</i>  {{person.per_MembershipDate}}
    <i class="text-secondary">Address:</i>          {{person.per_Address1}}
    <i class="text-secondary">City:</i>             {{person.per_City}}
    <i class="text-secondary">Facebook ID:</i>      {{person.per_FacebookID}}

    <b class="text-danger">Covid 19 Protocols</b> <form><div class="input-group mb-3 pl-4">
          <input [(ngModel)]="temperature" type="number" name="temperature" class="form-control" placeholder="Temperature" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="checkInClicked()">Check in</button>
          </div>
        </div>
    </form>
</pre>
        </div>
    </div>
<!--    <div class="col-0">-->
<!--        <div class="row bg-light" style="height: 100Vh; border-left: 10px solid white"></div>-->
<!--    </div>-->
</div>

