<div class="container-fluid row" style="height: 100vh;width: 100vw; overflow-y: hidden">
    <div class="col-md-3" style="height: 100vh; border-right: 4px solid darkblue;"  >
        <div class="row">
            <img style="width: 100%;" src="assets/logo.png">
        </div>
        <hr class="row">
        <div class="row">
            <app-qrcode-scanner-card></app-qrcode-scanner-card>
        </div>
        <div class="row">
<pre class="pt-3">
    <b class="text-primary">QR Code Scanner</b>


    <b>Scan a QR code</b>
    Focus the camera on the
    QR code <i class="text-danger">(ID card)</i>
    <a class="text-primary" (click)="showStatistics()" href="#">Statistics</a>
    <a class="text-primary" (click)="showProfile()" href="#">Profile</a>
</pre>
        </div>
    </div>
    <div class="col-md-9 p-4">
        <app-profile-card [hidden]="hide_profile_card"></app-profile-card>
        <app-statistics-card [hidden]="hide_statistics_card"></app-statistics-card>
    </div>
</div>
